/*CHAT COMMANDS TAB*/

.add-command:not(.hidden){
	display:flex;
	flex-flow: row;
	margin:15px;
	align-items:center;
}

.delete-event-div{
	margin-left:15px;
}

.add-command-fields{
	display:flex;
	flex-flow:column;
	
}

.add-command-form:not(.selected){
    display:none;
}

.add-command label{
	display:flex;
	padding:5px;
	justify-content:space-between;
}

.add-command input, select{
	margin-left:10px;
	color:var(--text-color);
	background-color:var(--field-color);
	padding:5px;
}

option{
	background-color:black;
}

.add-command #addCommandButton{
	margin:0px 0px 3px 5px;
	max-width:50px;
}

.command-table{
    background-color:var(--tab-active-color);
	
}

.command-container{
	overflow:auto;
	height:calc(100% - 150px);
}

.command-category{
	font-size:32px;
	margin:10px;
}

#toggleAddCommandButton{
	max-width:50px;
}

#toggleAddCommandButton.opened{
	background-color:var(--button-add-color);
}

.command-element{
	display:flex;
	flex-flow:column;
}

.command-element:not(.expanded):hover{
	background-color:var(--command-hover-color);
}

.command-element.expanded{
	background-color:var(--command-expanded-color);
}

.command-actions{
	margin-left:15px;
	align-self:flex-end;
	
}

.command-key{
	font-size:24px;
	padding:10px;
}

.command-key.expanded{
	border-bottom: var(--border-color) 1px solid;
}

.command-key label{
	pointer-events:none;
}

.command-props{
	font-size:18px;
	display:flex;
	align-items:center;
	margin-top:10px;
	margin-bottom:10px;
	
}

.command-fields{
	border-bottom: var(--border-color) 1px solid;
	margin-left:15px;
}

.command-props.triggers{
	flex-flow:column;
	align-items:flex-start;
}

.command-props.software{
	flex-flow:column;
	align-items:flex-start;
}

.command-fields{
	display:flex;
	flex-flow:row;
	align-items:center;
}

.command-section{
	display:flex;
	flex-flow:column;
	margin:10px;
}

.field-section{
	font-size:20px;
}

.command-fields label:not(.command-props label){
	margin-top:10px;
	margin-bottom:10px;
}

.command-section label{
	margin:5px;
	font-size:20px;
}

.command-props label{
	display:flex;
	align-items:center;
}

.command-element input,
.command-element textarea{
	margin-left:10px;
}

.command-element{
	padding-left:10px;
}

.event-add{
	margin:15px;
}

.command-group{
	margin:10px;
	font-size:30px;
	border-bottom: var(--border-color) 1px solid;
}

.command-group-label{
	margin-bottom:10px;
}

.verified{
	border: green 5px solid;
}

.failed{
	border: red 5px solid;
}