.config-element {
    display: flex;
    flex-flow: column;
    padding: 10px;
}

.config-variable {
    display: flex;
    flex-flow: row;
    padding: 10px;
    align-items: center;
}

.eventsub-variable {
    display: flex;
    flex-flow: row;
    padding: 10px;
    align-items: center;
    border-bottom: var(--border-color) 1px solid;
}

.good{
    background-color:green;
}

.error{
    background-color:red;
}

.config-variable input,
.config-variable select,
.config-variable label,
.config-variable textarea,
.eventsub-variable input,
.eventsub-variable select,
.eventsub-variable label,
.eventsub-variable textarea,
.active-subs,
.boolswitch {
    margin-left: 10px;
}

.toggle-label{
    display:flex;
    flex-flow:row;
    align-items:center;
    margin:10px;
}

.event-label{
    font-size:24px;
    align-self:flex-start;
    margin-bottom:10px;
}

.stack-div{
    display:flex;
    flex-flow:column;
    max-width:600px;
    padding:10px;
}

.add-osc-var {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.add-osc-var .config-variable {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
}

.add-osc-var input:not(.add-button) {
    margin: 5px;
}

.add-osc-var .add-button {
    align-self: flex-end;
}

.config-sub-var {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--border-color);
}

.config-sub-var.add {
    border: none;
}

.config-sub-var-ui {
    margin-left: 15px;
}

.config-sub-var label {
    margin-top: 10px;
}

.config-variable .add-button {
    align-self: flex-end;
}

.config-variable-ui .toggle-label{
    
    align-items:center;
}

.config-variable-ui label:not(.toggle-label){
    margin-left: 25px;
    margin-top: 10px;
}

.config-variable-ui .response{
    display:flex;
}

.config-variable-ui.software{
    display:flex;
    flex-flow:column;
}

.save-commands {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.settings-form .heading{
    font-size:24px;
    margin-top:10px;
}

.event-sub-delete-button,
.delete-button{
    width:100px;
    align-self:center;
	margin:10px;
	padding:10px;
	background-color:var(--button-color);
	color:var(--text-color);
	border-radius:5px;
}

.event-sub-delete-button:hover, .delete-button:hover{
    background-color:var(--button-delete-color);
}

#event-sub-add button{
    max-width:100px;
	margin:10px;
	padding:10px;
	background-color:var(--button-color);
	color:var(--text-color);
	border-radius:5px;
}

#event-sub-add button:hover{
    background-color:var(--button-add-color);
}

.oauth-broadcaster-button{
    width:fit-content;
    align-self:flex-end;
}

.callback-url{
    margin-top:10px;
}

@media screen and (max-width: 600px) {
    .config-sub-var-ui {
        flex-flow: column;
    }
    .config-sub-var-ui label {
        display: flex;
        flex-flow: row;
    }
    .config-variable{
        display:flex;
        flex-flow:column;
        align-items:initial;
    }
    .eventsub-variable{
        display:flex;
        flex-flow:column;
        align-items:initial;
    }
    .config-variable-ui,
    .add-osc-var .config-variable {
        display: flex;
        flex-flow: column;
        margin-left: 10px;
    }
    .config-variable-ui label {
        margin: 5px;
    }
}