.settings-form{
    display:flex;
    flex-flow:column;
    border-top:solid 2px var(--border-settings-color);
    border-bottom:solid 2px var(--border-settings-color);
}

.settings-form-container,
.asset-container{
    background-color: var(--tab-inactive-color);
    
}

.plugin-entry-settings .settings-form{
    padding:10px;
}

.plugin-entry{
    border-bottom: solid 2px var(--border-color)
}

.plugin-entry-ui {
    display: flex;
    flex-flow: row;
    align-items: center;
    font-size: 36px;
    margin: 15px;
}

.plugin-entry-info {
    margin-left: 10px;
}

.plugin-entry-info a {
    font-size: 24px;
    color: var(--text-link-color);
}

.plugin-entry-settings.expanded {
    display: flex;
    flex-flow: column;
}

.plugin-entry-settings label,
.boolswitch-div {
    margin: 10px;
}

.plugin-entry-settings input {
    margin-left: 10px;
}

.plugin-entry-settings {
    display: flex;
    flex-flow: column;
}

.plugin-entry-icon .plugin-default-icon{
    display:none;
}

.plugin-entry-icon.default .plugin-default-icon{
    display:block;
    width:75px;
    height:75px;
}

.plugin-entry-icon img{
    width:75px;
    height:75px;
}

.plugin-entry-icon.default img{
    display:none;
}

.plugin-button-ui{
    display:flex;
    margin-left:auto;
}

.plugin-button,
.asset-button{
    color:var(--text-color);
    text-align:center;
    width:50px;
    padding:15px;
    cursor: pointer;
}

.plugin-button:hover,
.asset-button:hover{
    filter:brightness(1.2);
}

.plugin-button.delete:hover,
.asset-button.delete:hover{
    background-color:var(--button-delete-color);
}

.plugin-button.settings{
    background-color:var(--button-color);
    border-radius: 10px 0 0 10px;
    
}

.plugin-button.delete{
    border-radius: 0 10px 10px 0;
    background-color:var(--button-color);
}

.plugin-button.upload,
.plugin-button.export,
.asset-button{
    background-color:var(--button-color);
    
}

.plugin-button.export a{
    color:var(--text-color);
}

.settings-subform .subform-container{
    
    display:flex;
    flex-flow:column;
    border-right: 1px solid var(--border-color);
}

.settings-subform{
    margin-top:15px;
}

.subform{
    display:flex;
    overflow-x:overlay;
    padding-bottom:10px;
}

.plugin-install-button{
    display:flex;
}

.plugin-install-button button {
    margin: 15px;
    font-size: 24px;
    color: var(--text-color);
    background-color: var(--button-plugin-color);
    padding: 15px;
    border-radius:10px;
}

.plugin-install-button button:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.asset-container{
    padding-top:15px;
    padding-bottom:15px;
    border-top:solid 2px var(--button-color);
    width:100%;
    height:50%;
}

.asset-entry{
    background-color:var(--asset-entry-color);
    padding:15px;
    user-select: none;
    cursor: pointer;
}

.asset-entry:hover{
    background-color:var(--asset-entry-hover-color);
}

.asset-entry.selected{
    background-color:var(--asset-entry-selected-color);
}

.asset-select{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:500px;
    border-bottom:solid 2px var(--border-assets-color);
}

.asset-fileselect{
    width:50%;
    height:100%;
    overflow:overlay;
}

.asset-preview{
    display:flex;
    height:100%;
    width:50%;
    justify-content:center;
}

.asset-preview img{
    max-width:100%;
    max-height:100%;
}

.asset-preview audio{
    margin:auto;
}

.asset-preview #audioPreview{
    display:none;
}

.asset-preview #audioPreview[file]{
    display:block;
}

.asset-buttons{
    display:flex;
    margin-top: 10px;
    margin-left:10px;
    font-size:24px;
}

.asset-button.upload{
    border-radius: 10px 0 0 10px;
}

.asset-button.delete{
    border-radius: 0 10px 10px 0;
}

.save-div {
    display: flex;
    flex-flow: row;
    align-items: center;
}

@media screen and (max-width: 600px){
    .plugin-entry-ui{
        display:flex;
        flex-flow:column;
    }

    .plugin-button-ui{
        margin-top:10px;
    }

    .plugin-install-button{
        display:flex;
        align-items:center;
    }

    .plugin-entry-info{
        text-align:center;
    }

    .plugin-entry-info a{
        font-size:18px;
    }

    .asset-select,
    .asset-preview{
        flex-flow:column-reverse;
    }

    .asset-select,
    .asset-preview{
        height:50%;
    }

    .asset-preview{
        height:200px;
    }

    .asset-preview img{
        object-fit:contain;
    }

    .asset-fileselect{
        width:100%;
        margin-top:20px;
        height:250px;
        overflow:auto;
    }
}