#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color:white;
}

.header .instruction{
  margin-top:20px;
  margin-bottom:20px;
}

button{
  font-size:24px !important;
}

.background3d{
  z-index:-1;
  position:fixed;
  left:0;
  top:0;
}

.not-background{
  display:flex;
}

.main-body{
  display:flex;
  flex-flow:column;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.85);
  padding:20px;
  border-radius:15px;
  text-align:center;
}

.content{
  display:flex;
  flex-flow:column;
  align-items:flex-start;
}

.content.horizontal{
  flex-flow:row;
}

.content.centered{
  align-items:center;
  justify-content: center;
}

.content button{
  display:flex;
  flex-flow:column;
  align-items:center;
  margin:5px;
}

.content label{
  font-size:18px;
  margin:5px;
}

.content label input,
.content label select{
  margin-left:10px;
}

.twitchmanage-form .content{
  display:flex;
  flex-flow:row;
  justify-content: space-evenly;
}

.header {
  display:flex;
  flex-flow:column;
  align-self:center;
}

.logo{
  font-size:72px;
  line-height: 72px;
  align-self:center;
}

.instruction{
  align-self:center;
  display:flex;
  font-size:36px;
  line-height: 36px;
  margin:10px;
}

.init-form{
  display:flex;
  flex-flow:column;
}

.init-form label{
  display:flex;
  margin:10px;
  align-items:center;
  font-size:24px;
  text-align:left;
}

.init-form label input{
  margin-left:10px;
}

.twitch-bot,
.twitch-broadcaster{
  display: flex;
    flex-flow: column;
    align-items: center;
}

.footer{
  padding-top:15px;
  display:flex;
  width:100%;
  justify-content:flex-end;
}

@media screen and (max-width: 700px){
  .logo{
    font-size:36px;
    line-height:36px;
  }

  .instruction{
    font-size:18px;
    line-height:24px;
  }

  .init-form label{
    font-size:16px;
  }
}